<div class="row">
    <div id="app-<%= registered_application.id %>">    
        <div class="col-md-8">
            <strong><%= link_to registered_application.name, registered_application %></strong><br />
            <small><%= registered_application.url %></small><br />
        </div>
    </div>
</div>