<div class="row">
    <div class="col-md-8">
        <div class="media">
            <div class="media-left">
                <%= image_tag current_user.avatar_url(128), class: 'media-object' %>
            </div>
            <div class="media-body">
                <h2 class="media-heading">Welcome <%= current_user.email %>!</h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 items">
        <h3>Your Applications:</h3>
        <%= render(@apps) || content_tag(:h4, 'You are not currently tracking data on any active applications.') %>
    </div>
    <div class="col-md-4">
        <%= link_to 'Add Application', new_registered_application_path, class: 'btn btn-success' %>
    </div>
</div>
