<h1>Track Data on a New Application</h1>

<div class="row">
    <div class="col-md-4">
        <p>Guidelines for adding tracking to your app:</p>
        <ul>
            <li>Make sure your website is live.</li>
            <li>Provide a valid url for your site.</li>
            <li>Implement the API in your code as instructed in the ReadMe.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <%= render 'form' %>
    </div>
</div>
